body{
  background-color: Lightseagreen;
  background-size: cover;
}

ul {
  style="list-style-type:none"
}

p{
  font-family: "Cooper Black", Times, serif;
}

h1{
  font-family: "Cooper Black", Times, serif;
}

nav{
  text-decoration: none;
  font-family: "Cooper Black", Times, serif;
}

#filmpie{
  margin-right: 455px;
  float: right;
  text-decoration: none;
}

#balk {
overflow: hidden;
background-color: #333;
}

#balk a {
float: left;
display: block;
color: #f2f2f2;
text-align: center;
padding: 5px 5px;
text-decoration: none;
font-size: 20px;
}

#balk a:hover {
background-color: #ddd;
color: black;
}

#balk a.active {
background-color: #4CAF50;
color: white;
}

#pasta {
    position: absolute;
    margin-left: 700px;
    max-width: 800px;
    max-height: 400px;
}

#pasta1 {
    position: absolute;
    margin-left: 600px;
    max-width:800px;
    max-height:400px;
}

#pasta2 {
    position: absolute;
    margin-left: 900px;
    max-width: 600px;
    max-height: 300px;
}
